REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=balina-d69d2.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=balina-d69d2
REACT_APP_FIREBASE_STORAGE_BUCKET=balina-d69d2.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_VAPID_KEY=

REACT_APP_API_URL=http://localhost:3001
