# Environment variables
env/
.env
.env.*

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
out/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.user

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Temp files
*.tmp
*.bak
