# Environment variables & secrets
env/
.env
.env.*
backend/firebase-adminsdk.json

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
out/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.user

# TypeScript incremental
*.tsbuildinfo

# Temp files
*.tmp
*.bak
