PORT=3001

ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com

USDT_CONTRACT=0xdAC17F958D2ee523a2206206994597C13D831ec7
USDT_THRESHOLD=10000000

FIREBASE_PROJECT_ID=balina-d69d2
FIREBASE_ADMIN_SDK_PATH=./firebase-adminsdk.json

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CHAT_ID_GROUP=

FRONTEND_URL=http://localhost:3000
